<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztkj.purchase.dao.BrandDao">
    <resultMap id="brandMap" type="com.ztkj.purchase.model.Brand">
        <id property="id" column="f_id" />
        <result property="name" column="f_name" />
        <result property="status" column="f_status" />
        <result property="createTime" column="f_createTime" />
        <association property="createUser" column="f_userId" resultMap="createUserMap" />
    </resultMap>
    <!--创建人-->
    <resultMap id="createUserMap" type="com.ztkj.sys.model.User">
        <id property="id" column="f_userId" />
        <result property="name" column="f_createName" />
    </resultMap>
    <!--分页查询-->
    <select id="findByPage" resultMap="brandMap">
        SELECT * FROM
        (SELECT t1.*,t2.f_name f_createName,ROWNUM rn
        FROM t_Brand t1 LEFT JOIN t_User t2 ON t1.f_userid=t2.f_id
        WHERE
        <![CDATA[
        ROWNUM<=#{endIndex}
        ]]>
        <if test="brandParam.name!=null and brandParam.name!=''">
          AND t1.f_name LIKE '%' || #{brandParam.name} || '%'
        </if>
        <if test="brandParam.status!=null and brandParam.status!=''">
          AND t1.f_status=#{brandParam.status}
        </if>
        order by t1.f_Id desc
        ) WHERE rn>=#{startIndex}
    </select>

    <!--分页统计-->
    <select id="countByPage" resultType="int">
        SELECT COUNT(t1.f_id) FROM t_brand t1
        <where>
            <if test="brandParam.name!=null and brandParam.name!=''">
                AND t1.f_name LIKE '%' || #{brandParam.name} || '%'
            </if>
            <if test="brandParam.status!=null and brandParam.status != ''">
                AND t1.f_status=#{brandParam.status}
            </if>
        </where>
    </select>
    <!--查询全部-->
    <select id="findAll" resultMap="brandMap">
        select * from t_brand
    </select>
    <!--添加-->
    <insert id="add">
      INSERT INTO t_brand(f_id,f_name,f_status,f_createtime,
      f_userId) values(seq_brand.nextval,#{brand.name},#{brand.status},
      #{brand.createTime},#{brand.createUser.id})
    </insert>
    <!--根据id查询-->
    <select id="findById" resultMap="brandMap">
        SELECT T1.*, T2.F_NAME F_CREATENAME
        FROM T_BRAND T1
        LEFT JOIN T_USER T2 ON T1.F_USERID = T2.F_ID
        WHERE t1.F_ID =#{id}
    </select>
    <!--修改-->
    <update id="update">
        update t_brand
        <set>
            <if test="brand.name!=null and brand.name!=''">
                f_name=#{brand.name},
            </if>
            <if test="brand.status!=null and brand.status != ''">
                f_status=#{brand.status},
            </if>
        </set>
        where f_id=#{brand.id}
    </update>
    <!--恢复-->
    <update id="recoverBrand">
        update t_brand set f_status='1' where f_id=#{id}
    </update>
    <!--注销-->
    <update id="cancelBrand">
        update t_brand set f_status='0' where f_id=#{id}
    </update>

</mapper>