<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ztkj.purchase.dao.GoodsTypeDao">
    <resultMap id="goodsTypeMap" type="com.ztkj.purchase.model.GoodsType">
        <id property="id" column="f_id" />
        <result property="name" column="f_name" />
        <result property="status" column="f_status" />
        <result property="createTime" column="f_createTime" />
        <association property="createUser" column="f_userId" resultMap="createUserMap" />
        <association property="brand" column="f_brandId" resultMap="brandMap" />
    </resultMap>
    <!--创建人-->
    <resultMap id="createUserMap" type="com.ztkj.sys.model.User">
        <id property="id" column="f_userId" />
        <result property="name" column="f_createName" />
    </resultMap>
    <!--品牌-->
    <resultMap id="brandMap" type="com.ztkj.purchase.model.Brand">
        <id property="id" column="f_brandId" />
        <result property="name" column="f_brandName" />
    </resultMap>
    <!--分页查询-->
    <select id="findByPage" resultMap="goodsTypeMap">
        SELECT * FROM
        (SELECT t1.*,t2.f_name f_createName,t3.f_name f_brandName,
        ROWNUM rn FROM t_GoodsType t1 LEFT JOIN t_User t2
        ON t1.f_userid=t2.f_id  LEFT JOIN t_Brand t3
        ON t3.f_id=t1.f_brandId
        WHERE
        <![CDATA[
        ROWNUM<=#{endIndex}
        ]]>
        <if test="goodsTypeParam.name!=null and goodsTypeParam.name!=''">
            AND t1.f_name LIKE '%' || #{goodsTypeParam.name} || '%'
        </if>
        <if test="goodsTypeParam.brandId != null and goodsTypeParam.brandId != 0">
            and t3.f_id = #{goodsTypeParam.brandId}
        </if>
        <if test="goodsTypeParam.status!=null and goodsTypeParam.status!=''">
            AND t1.f_status=#{goodsTypeParam.status}
        </if>

        order by t1.f_Id desc
        ) WHERE rn>=#{startIndex}
    </select>

    <!--分页统计-->
    <select id="countByPage" resultType="int">
        SELECT count(t1.f_id) FROM t_GoodsType t1 LEFT JOIN t_User t2
        ON t1.f_userid=t2.f_id  LEFT JOIN t_Brand t3
        ON t3.f_id=t1.f_brandId
        <where>
            <if test="goodsTypeParam.brandId != null and goodsTypeParam.brandId != 0">
                and t3.f_id = #{goodsTypeParam.brandId}
            </if>
            <if test="goodsTypeParam.name!=null and goodsTypeParam.name!=''">
                AND t1.f_name LIKE '%' || #{goodsTypeParam.name} || '%'
            </if>
            <if test="goodsTypeParam.status!=null and goodsTypeParam.status!=''">
                AND t1.f_status=#{goodsTypeParam.status}
            </if>
        </where>
    </select>
    <!--查询全部-->
    <select id="findAll" resultMap="goodsTypeMap">
        select * from t_GoodsType
    </select>
    <!--添加-->
    <insert id="add">
      INSERT INTO t_GoodsType(f_id,f_name,f_brandId,f_status,f_createtime,
      f_userId) values(seq_goodsType.nextval,#{goodsType.name},#{goodsType.brand.id},#{goodsType.status},
      #{goodsType.createTime},#{goodsType.createUser.id})
    </insert>
    <!--根据id查询-->
    <select id="findById" resultMap="goodsTypeMap">
        SELECT t1.*,t2.f_name f_createName,t3.f_name f_brandName
        FROM t_GoodsType t1 LEFT JOIN t_User t2
        ON t1.f_userid=t2.f_id  LEFT JOIN t_Brand t3
        ON t3.f_id=t1.f_brandId WHERE t1.f_id=#{id}
    </select>
    <!--修改-->
    <update id="update">
        update t_GoodsType
        <set>
            <if test="goodsType.brand != null and goodsType.brand.id != 0">
                f_brandId = #{goodsType.brand.id},
            </if>
            <if test="goodsType.name!=null and goodsType.name!=''">
                f_name=#{goodsType.name},
            </if>
            <if test="goodsType.status!=null and goodsType.status != ''">
                f_status=#{goodsType.status},
            </if>
        </set>
        where f_id=#{goodsType.id}
    </update>
    <!--恢复-->
    <update id="recover">
        update t_GoodsType set f_status='1' where f_id=#{id}
    </update>
    <!--注销-->
    <update id="cancel">
        update t_GoodsType set f_status='0' where f_id=#{id}
    </update>
</mapper>